@charset "utf-8";
h1 {
	position: relative;
	top: 0;
	left: 0;

	width: calc(400 / 2)px;

	transition: all .45s cubic-bezier(0.215, 0.61, 0.355, 1);

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex
}
h1:before{
	color: #000
}
