$color_white: #FFF;
$color_light_white_smoke: #F9F9F9;
$color_white_Smoke: #F5F5F5;
$color_revell: #EEEEEE;
$color_smoke_grey: #E6E6E6;
$color_light_grey: #DDDDDD;
$color_grey: #CCCCCC;
$color_wii: #999999;
$color_dark_grey: #666666;
$color_high_dark_grey: #333333;
$color_cloud: #E0E6ED;
$color_ice: #F9FAFC;
$color_positive: #F2D06B;