@charset "utf-8";
/* ================ Icon Font ================= */
@font-face {
    font-family: 'icomoon';
    src: url("/cmn/fonts/icomoon.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
/*
SIL Open Font License, 1.1
We subbed the Noto Sans Japanese font of Google Web Font.
*/
@font-face {
    font-family: 'ns';
    src: url("/cmn/fonts/ns_Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ns';
    src: url("/cmn/fonts/ns_Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ns';
    src: url("/cmn/fonts/ns_Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
}
html {
    font-size: 100%;
}
/* ================ Reset ================= */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #333;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
    background: transparent;
    letter-spacing: normal;
    box-sizing: border-box;
    line-break: strict;
    letter-spacing: 1px;
}
body {
    -webkit-text-size-adjust: none;
    font-family: 'ns', Meiryo, 'Hiragino Kaku Gothic Pro', Osaka, 'MS PGothic', Arial, Helvetica, Verdana, sans-serif;
    line-height: 1;
    -webkit-font-feature-settings: "palt" 1;
            font-feature-settings: "palt" 1;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}
nav ul, ul, ol {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before{
    content: '';
    content: none;
}
*:before
*:after {
    box-sizing: border-box;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(100, 100, 100, .5);
    text-decoration: none;
    color: #333;
    box-sizing: border-box;

    transition: all .45s cubic-bezier(0.215, 0.61, 0.355, 1);
}
img {
    display: block;
    vertical-align: bottom;
    border: 0;
    width: 100%;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
input, select, button {
    vertical-align: middle;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    transition: all .45s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lsf {
    font-family: 'icomoon';
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-feature-settings: "liga" 1, "dlig" 1;
            font-feature-settings: "liga" 1, "dlig" 1;
}
