@import 'media.css';

@media ( --pc-view ) {
    br.tab_only,
    br.smp_only {
        display: none;
    }

    br.pc_only {
        display: block;
    }
}

@media ( --tab-view ) {
    br.pc_only,
    br.smp_only {
        display: none;
    }

    br.tab_only {
        display: block;
    }
}

@media ( --smp-view ) {
    br.pc_only,
    br.tab_only {
        display: none;
    }

    br.smp_only {
        display: block;
    }
}
