key-color = #000
sub-color = #000
key-bgcolor = #000



psr() {
	position: relative;
	top: 0;
	left: 0;
}
psa() {
	position: absolute;
	margin: auto;
}
icon-init() {
	display: inline-block;
	content: '';
	width: 1em;
	height: 1em;

	font-family: 'icomoon';
	line-height: 1;
	letter-spacing: 0;
}

last-child(){
	&:last-child {
		margin-bottom 0
	}
}

half_calc($value) {
	( $value / 2 ) px
}
percent_calc($value, $max) {
	($value / $max) * 100 + '%'
}


anime-init() {
	transition: all .45s cubic-bezier(0.215, 0.61, 0.355, 1);
}
